bcrypt==4.2.0
cryptography==43.0.0
email_validator==2.2.0
fastapi==0.112.0
fastjsonschema==2.20.0
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
passlib==1.7.4
pydantic==2.8.2
pydantic_core==2.20.1
PyMySQL==1.1.1
python-dotenv==1.0.1
python-jose==3.3.0
python-multipart==0.0.9
requests==2.32.3
rpds-py==0.20.0
rsa==4.9
SQLAlchemy==2.0.31
starlette==0.37.2
typing_extensions==4.12.2
uvicorn==0.30.5